body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    width: 600px; /* Increased width */
    height: 3500px; /* Increased height */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Add relative positioning */
}

/* Style for the back button */
.back {
    position: absolute;
    top: 10px;
    left: 10px;
    display: inline-block;
    cursor: pointer; /* Optional, if you want the cursor to change to pointer on hover */
}

#container {
    width: 100%; /* Adjusted to take full width of the body */
    max-width: 600px; /* Increased max-width */
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow-y: auto; /* Add scrolling for overflow */
}

.session-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
}

.session-btn:hover {
    background-color: #45a049;
}

.session-input {
    width: 90%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.users-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    table-layout: fixed; /* This ensures columns are evenly spaced */
}

.users-table th, .users-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    width: 50%; /* This ensures each column takes up half the width of the table */
}

.session-input::placeholder {
    color: #888; /* Example color for placeholder text */
    /* Add any additional styling for placeholder text here */
}

.checkbox-container {
    text-align: center; /* Center align the checkbox */
}
